.test{
    color:blue;
}
.treeview{
    width:3500px;
}

.treeview table thead tr th:nth-child(22){
    background-color:pink;
}

.treeview table thead tr th:nth-child(23){
    background-color:pink;
}

.treeview table thead tr th:nth-child(21){
    background-color:yellow;
}

.treeview table thead tr th:nth-child(19){
    background-color:yellow;
}

.treeview table thead tr th:nth-child(17){
    background-color:yellow;
}

.treeview table thead tr th:nth-child(16){
    background-color:yellow;
}

.treeview table thead tr th:nth-child(24){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(25){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(26){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(27){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(28){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(29){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(30){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(31){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(32){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(33){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(34){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(35){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(36){
    background-color:yellow;
}
.treeview table thead tr th:nth-child(37){
    background-color:#D8E4BC;
}